@media screen and (max-width:479px) {}

body{
    margin: 0;
}

header{
    background-color: #53b381;
    text-align:center
}

#title{
    margin-top: 0;
}
.App {
    font-family: sans-serif;
    text-align: center;
    margin: 6%;
}
h2{
    position: fixed;
    bottom: 50px;
    right: 100px;
    background: #ececec;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}